.combo-box:editable > .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
}

.combo-box .arrow-button {
    -fx-background-color: lightgray;
    -fx-border-color: transparent;
}

.combo-box {
    -fx-background-color: lightgray;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

:focused {
    -fx-effect: inherit;
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
    -fx-font-weight: inherit;
}